<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <connectionStrings>
    <add name="Database" connectionString="Data Source=localhost;Database=UserRegistry;User Id=sa;Password=Autumn$2016" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <unity>
    <namespace name="UserRegistry.Core.Repositories" />
    <namespace name="UserRegistry.Core.WCF" />
    <assembly name="UserRegistry.Core" />
    <container>
      <register type="IUserRepository" mapTo="UserRepository" />
      <register type="ICompanyRepository" mapTo="CompanyRepository" />
      <register type="ICompaniesService" mapTo="CompaniesService" />
    </container>
  </unity>
</configuration>